body{
    width:75%;
    margin:auto;
    border: 10px solid cadetblue;
    border-radius: 5px;
    background-image: linear-gradient(to bottom right, blueviolet, lightblue);
    padding: 10px;
}

h1 {
    color: whitesmoke;
    text-shadow: 2px 2px 3px black, 0 0 30px cadetblue, 0 0 7px mediumvioletred;
    font: 4rem Arial;
    font-weight: 600;
    text-align: center;
}

img{
    max-width:30%;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;
    display:block;
    border: 3px solid mediumvioletred;
    border-radius: 50%;
}

p{
    width:30%;
    margin:5px;
    float: left;
    display: block;
}
