body{
    width:75%;
    marign:auto;
}

img{
    width:30%;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    display:block;
}
p{
    width:30%;
    margon:5px;
    float: left;
    display: block;
}